body {
    margin: 0;
    font-family: Inter;
}
.row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    gap: 60px;
    box-sizing: border-box;
}
@media (max-width:1024px) {
    .row {
        flex-direction: column;
    }
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.bg-gray {
    background-color: #D4D4D4;
}
.border-none {
    border: none !important;
}
.box-size {
    box-sizing: border-box;
}
.left-box {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-around;
    box-sizing: border-box;
}
.rounded-sm {
    border-radius: 20px;
}
.button {
    border: 1px solid #555555;
    cursor: pointer;
    text-align: center;
    width: 50px;
}
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 20px;
}
.text-2xl {
    font-size: 56px;
}
.px-sm {
    padding-left: 5px;
    padding-right: 5px;
}
.px-md {
    padding-left: 10px;
    padding-right: 10px;
}
.px-lg {
    padding-left: 15px;
    padding-right: 15px;
}
.py-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-md {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mx-sm {
    margin-left: 5px;
    margin-right: 5px;
}
.mx-md {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-lg {
    margin-left: 15px;
    margin-right: 15px;
}
.mx-60 {
    margin-left: 40px;
    margin-right: 40px;
}
.my-sm {
    margin-top: 5px;
    margin-bottom: 5px;
}
.my-md {
    margin-top: 10px;
    margin-bottom: 10px;
}
.border {
    border: 1px solid #555555;
}
.my-lg {
    margin-top: 15px;
    margin-bottom: 15px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-60 {
    margin-top: 60px;
}
.font-bold {
    font-weight: bold;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.w-screen {
    width: 100vw;
}
.h-screen {
    height: 100vh;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}
.card {
    flex: 1;
    border: 1px solid #aaaaaa;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 220px;
    min-width: 220px;
    max-width: 220px;
}
.card:hover {
    border: 1px solid #555555;
}
.large-card {
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 1px solid #555555;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}
.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.continue-btn {
    background-color: #333333;
    color: white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.pre-login {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.help-btn {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    width: 10%;
    text-align: center;
    white-space: nowrap;
    min-width: 60px;
}